{% extends "base.html" %}
{% block subtitle %}
    <strong>분류</strong> - <small>Iris 품종 분류</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form action="/classification_iris" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td>Sepal Length</td>
                        <td><input type="text" id="slen" class="form-control" 
                            placeholder="Sepal Length" name="slen"></td>
                    </tr>
                    <tr>
                        <td>Sepal Width</td>
                        <td><input type="text" id="swid" class="form-control" 
                            placeholder="Sepal Width" name="swid"></td>
                    </tr>
                    <tr>
                        <td>Petal Length</td>
                        <td><input type="text" id="plen" class="form-control" 
                            placeholder="Petal Length" name="plen"></td>
                    </tr>
                    <tr>
                        <td>Petal Width</td>
                        <td><input type="text" id="pwid" class="form-control" 
                            placeholder="Petal Width" name="pwid"></td>
                    </tr>					
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-4"></div>
    </div>                
{% endblock %}