{% extends 'base.html' %}
{% block subtitle %}<h3><strong>분류</strong> - <small>아이리스 품종 분류</small></h3>{% endblock %}
			{% block content %}
			<form action="/classification_iris" method="POST">
				<table class="table table-borderless">
					<tr>
						<td>Sepal Length</td>
						<td><input type="text" id="slen" class="form-control" 
							placeholder="Sepal Length" name="slen"></td>
					</tr>
					<tr>
						<td>Petal Length</td>
						<td><input type="text" id="plen" class="form-control" 
							placeholder="Petal Length" name="plen"></td>
					</tr>
					<tr>
						<td>Sepal Width</td>
						<td><input type="text" id="swid" class="form-control" 
							placeholder="Sepal Width" name="swid"></td>
					</tr>						
					<tr>
						<td>Petal Width</td>
						<td><input type="text" id="pwid" class="form-control" 
							placeholder="Petal Width" name="pwid"></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit" class="btn btn-primary">확인</button>&nbsp;&nbsp;&nbsp;
							<button type="reset" class="btn btn-secondary">취소</button>
						</td>
					</tr>
				</table>
			</form>	
			<div class="text-center" style="margin-top: 50px">
				<strong>다양한 인공지능어플리케이션을 경험해 보세요.</strong>
			</div>
		
{% endblock %}