{% extends 'base.html' %}
{% block subtitle %}<h3><strong>분류</strong> - <small>이미지</small></h3>{% endblock %}
			{% block content %}
			
			<form action="/classification" method="POST">
				<table class="table table-borderless">
					<div class="form-group" style="margin-top:30px;">
						<input type="file" class="form-control-file border" name="file">
					</div>
					<div colspan="2" style="margin-top:30px text-align=center";> 
						<button type="submit" class="btn btn-primary">확인</button>
						<button type="submit" class="btn btn-primary">취소</button>
					</div>
			<div class="text-center" style="margin-top: 50px">
				<strong>다양한 인공지능어플리케이션을 경험해 보세요.</strong>
			</div>
		
{% endblock %}