<article id="af58e65f-05ef-49ec-bb7e-b65ae2c04dd0" class="page sans"><header>
	<h1 class="page-title">Profile</h1></header><div class="page-body">
		<div class="row">
				<div class="col-2">
			<div id="4a6d74ed-450b-45a7-bc90-0cc8ad3c3dca" class="column-list">
				<div id="87db989b-9e0f-44bf-889e-0d4c57b2d0cd" style="width:12.5%" class="column">
				<figure id="c9cb56dd-fa68-4e3a-a907-961121f99626" class="image">
				</div>
					<a href="Profile%20c9cb56ddfa684e3aa907961121f99626/profile.png">
						<img style="width:72px" src="{{url_for('static', filename='images/lhs.png')}}"/>
					</a>
				</figure>
			</div>
		</div>
			<div class="col-8">	
			<div id="3ec28502-199b-4d0b-b6b0-14abcfcb5112" style="width:87.5%" class="column">
				<br>
			<blockquote id="02efe493-1a74-445f-b5bf-c6c3483b858d" class="">산업 융합형 인공지능 청년혁신가 양성 과정을 진행하고 있습니다. 인공지능🤖에 관심이 많습니다.</blockquote>
		<p id="0cca53bf-c21f-4152-8cff-4781330dd91c" class="">
		</div>
	</div>

</p>
</div>
<hr>
</div>
<h1 id="c33b4cac-4d8c-4589-96a9-b8fd9217ac75" class="">☎️ Contact Information</h1>
<p id="293d5801-4bb4-4f7b-8099-e98cf8d3903f" class="">📧 prlhspt@gmail.com</p>
<p id="70c58ac9-53eb-46c7-8eed-75f32f0b024d" class=""><img src="{{url_for('static', filename='images/github_logo.png')}}" style="width:2%"><a href="https://github.com/prlhspt"> https://github.com/prlhspt</a> 
</p><hr id="69f754c6-c0c9-4e68-9425-8fb9069155b2"/><h1 id="7473b1bf-c361-4026-a78f-2a229c8baa7c" class="">📜 최근 관심있게 본 것</h1>
<ul id="464ba40b-e5fe-4032-8d0d-f3f996d2db03" class="bulleted-list"><li><a href="https://channel9.msdn.com/Events/Build/2020/KEY05">The future of tech, with Kevin Scott and guests</a></li></ul>
<hr id="dd03d86e-8745-4ed5-91be-c9f16db54a20"/>
<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- Indicators -->
	<ul class="carousel-indicators">
	<li data-target="#demo" data-slide-to="0" class="active" ></li>
	<li data-target="#demo" data-slide-to="1"></li>
	<li data-target="#demo" data-slide-to="2"></li>
	</ul>
	
	<!-- The slideshow -->
	<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="{{url_for('static', filename='images/4.jpg')}}" alt="0" width="1000" height="700">
	</div>
	<div class="carousel-item">
		<img src="{{url_for('static', filename='images/5.jpg')}}" alt="1" width="1000" height="700">
	</div>
	<div class="carousel-item">
		<img src="{{url_for('static', filename='images/6.jpg')}}" alt="2" width="1000" height="700">
	</div>
	</div>
	
	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#demo" data-slide="prev">
	<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
	<span class="carousel-control-next-icon"></span>
	</a>
</div>
</div></article><hr><br><br><br></hr></div></div>


