<div class="row">
    <div class="col-3">
        <!-- 사진 영역 -->
        <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t31.0-8/10998073_527666987373599_8067445547827016252_o.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=kP7NOR0RU_IAX-oi3u9&_nc_ht=scontent-ssn1-1.xx&oh=6e8f15d2c0c9f524696860832931dac8&oe=5F46494E" width="200px">
    </div>
    <div class="col-0">
        <h5> </h5>
        <h5 style=" color:rgb(255, 0, 0); font-family: 나눔스퀘어;font-weight: 800;margin: auto;">
        <!-- content -->
        ♡산업융합형 인공지능 청년혁신가 양성 과정을 듣고있는 학생입니다.</h5>
        <h5> </h5>
        <h5 style=" color:rgb(255, 153, 0); font-family: 나눔스퀘어;font-weight: 800;margin: auto;">
            ♡취미: 수영하기, 피아노치기, 게임하기</h5>
        <h5> </h5>
        <h5 style=" color:rgb(30, 253, 0); font-family: 나눔스퀘어;font-weight: 800;margin: auto;">
            ♡키 : 170cm, 몸무게 : 60kg</h5>
        <h5> </h5>
        <h5 style=" color:rgb(24, 24, 245); font-family: 나눔스퀘어;font-weight: 800;margin: auto;">
            ♡나이 : 만 24세</h5>
    </div>
    <div class="col-1">
        <!-- etc -->
    </div>
</div>
<br>
<h3>✉️ 연락처</h3>
<p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : haechan3@naver.com
    <br>&nbsp;&nbsp;&nbsp;github : https://github.com/ManD-B <a href="https://github.com/ManD-B"><img
            src="{{url_for('static', filename='images/member/GitHub-Mark-32px.png')}}"></a></p>
<br>
<h5><i class="fas fa-school"></i> 학력 사항</h5>
<table class="table">
    <thead>
        <tr>
            <th>학교</th>
            <th>전공</th>
            <th>기간</th>
            <th>졸업여부</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>한밭대학교</td>
            <td>전자제어공학과</td>
            <td>2014.03 ~ 2016.02</td>
            <td>편입</td>
        </tr>
        <tr>
            <td>한국기술교육대학교</td>
            <td>메카트로닉스공학</td>
            <td>2016.03 ~ 2020.02</td>
            <td>졸업</td>
        </tr>
    </tbody>
</table>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active" ></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{{url_for('static', filename='images/1.jpg')}}" alt="0" width="1000" height="700">
    </div>
    <div class="carousel-item">
        <img src="{{url_for('static', filename='images/2.jpg')}}" alt="1" width="1000" height="700">
    </div>
    <div class="carousel-item">
        <img src="{{url_for('static', filename='images/3.jpg')}}" alt="2" width="1000" height="700">
    </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
</div>